/* career-intro */

.career-intro-common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1cm;
    background-color: rgb(247, 247, 247);
    border-bottom-width: 1mm;
    border-bottom-color: rgb(231, 231, 231);
    border-bottom-style: solid;
    text-align: justify;
    text-justify: inter-word;
}

.career-intro {
    height: 4cm;
    border-bottom-width: 0.25mm;
}

@media all and (orientation: portrait) {
    .career-intro {
        height: 13cm;
        padding-bottom: 1cm;
        border-bottom-width: 0.5mm;
    }

    .career-intro > h1 {
        font-size: 6em;
    }

    .career-intro > p {
        font-size: 3em;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 0;
        margin-top: 0;
    }
}

/* career-section */

.career-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* career-item */

.career-item {
    width: 40%;
    background-color: rgb(247, 247, 247);
    border-width: 0.25mm;
    border-color: rgb(231, 231, 231);
    border-style: solid;
    border-radius: 0.25cm;
    text-align: justify;
    text-justify: inter-word;
    padding: 0.5cm;
    margin-bottom: 1cm;
}

.career-item > img {
    width: 30%;
}

.career-item-date {
    font-style: italic;
}

.career-title {
    margin-top: 0;
    margin-bottom: 0.75cm;
    padding-bottom: 0;
    font-size: 1.5em;
}

@media all and (orientation: portrait) {
    .career-item {
        width: 80%;
        padding: 1.5cm;
        border-radius: 0.5cm;
    }

    .career-item > h1 {
        font-size: 3em;
    }

    .career-item > p {
        font-size: 2em;
    }

    .career-item-date {
        font-size: 1.8em !important;
    }

    .career-item > img {
        width: 80%;
    }

    .career-title {
        font-size: 3em;
        padding-top: 1cm;
    }
}
