/* header-pannel */

.header-panel-common {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-width: 1mm;
    width: 100%;
    border-bottom-color: rgb(231, 231, 231);
    border-bottom-style: solid;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header-panel {
    height: 1.5cm;
    border-bottom-width: 0.25mm;
}

@media all and (orientation: portrait) {
    .header-panel {
        height: 4cm;
        border-bottom-width: 0.5mm;
    }
}

/* header-name */

.header-name-common {
    margin-left: 1em;
}

.header-name-common:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.header-name {
    font-size: 1.5em;
}

@media all and (orientation: portrait) {
    .header-name {
        font-size: 4em;
    }
}

/* header-item */

.header-item-common {
    padding-left: 1em;
    padding-right: 1em;
}

.header-item-common:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.header-item-first {
    margin-left: auto;
}

.header-item {
    font-size: 1.5em;
}

@media all and (orientation: portrait) {
    .header-item {
        visibility: hidden;
        display: none;
    }
}


/* header-menu */

.header-menu {
    visibility: hidden;
    display: none;
}

@media all and (orientation: portrait) {
    .header-menu {
        visibility: visible;
        font-size: 4em;
        margin-left: auto;
        margin-right: 1em;
        cursor: pointer;
    }
}

/* header-mobile-panel */

.header-mobile-panel {
    visibility: hidden;
    display: none;
}

@media all and (orientation: portrait) {
    .header-mobile-panel {
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-family: 'Open Sans Condensed', sans-serif;
        visibility: visible;
    }
}


/* header-mobile-item */

.header-mobile-item {
    visibility: hidden;
}

@media all and (orientation: portrait) {
    .header-mobile-item {
        padding: 1em;
        visibility: visible;
        font-size: 4em;
        margin: 0;
        padding: 0.5em;
        
        border-bottom-color: rgb(212, 212, 212);
        border-bottom-width: 1mm;
        border-bottom-style: solid;

        border-top-color: rgb(212, 212, 212);
        border-top-width: 1mm;
        border-top-style: solid;
    }
}
