body {
    font-family: 'Roboto', sans-serif;
    padding: 0em;
    margin: 0em;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.hidden {
    visibility: hidden;
    display: none;
}

html.wf-loading * {
    opacity: 0;
}
